.accordion-button:not(.collapsed) {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: #dc3545;
}